.lockscreen {
  background: url(../img/blur-background.jpg) repeat center center fixed !important;
}

#spn_logo{
	margin-top: 5%;
	width: 15%;
	overflow:inherit !important;
	min-width: 150px;	
}

#spn_login{
  width:20%;
  margin:0 auto;
  margin-top:2%;
  margin-bottom:2%;
  min-width: 200px;
  text-align: center !important;
}

input[type="submit"].spn{
  width:100%;
  background:#F58634;
  border:0;
  padding:5%;
  font-family:'Open Sans',sans-serif;
  font-size:90%;
  font-weight: 200;
  color:#fff;
  cursor:pointer;
  margin-bottom: 5%;
  transition:background 1s;
  -webkit-transition:background 1s;
  -o-transition:background 1s;
  -moz-transition:background 1s;
}

input[type="submit"].spn:hover{
  background:#96989A;
}

input[type="password"].spn{
  width:100%;
  background:#fff;
  margin-bottom:5.5%;
  border:1px solid #ccc !important;
  padding:4%;
  font-family:'Open Sans',sans-serif;
  font-size:80%;
  font-weight:200;
  color:#555;
}

input[type="checkbox"].spn{ 
	vertical-align: middle; 
    color:#000 !important;
} 

#remember_password_container.spn{
    color:#F58634 !important;
}

.btn.btn-spn {
  background-color: #F58634;
  color:#FFF;
}
.btn.btn-spn:hover,
.btn.btn-spn:active,
.btn.btn-spn.hover {
  background-color: #96989A;
}

#server_status{
    position:fixed;
    bottom : 20px;
    right : 20px;
}